// Specific CSS for your home-page
.banner {
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
}

.banner-content {
  color: white;
  text-align: center;
}

.banner-content {
  h1 {
    font-family: 'Dancing Script', cursive !important;
    font-size: 60px !important;
    margin-bottom: 100px;
    color: #db5461;
  }
}

 .ldp :hover {
    text-decoration: none;
    color: #f1edee !important;
  }

.ldp {
  color: red;
 }
