<div class="container">
  <div class="row">
    <h1>Create a new holiday Album:</h1>
      <%= simple_form_for [@holiday, @holiday_album] do |f| %>
        <%= f.input :name, placeholder: "Name your album", :label => false %>
        <%= f.input :image, placeholder: "Pick an image for your holiday", :label => false %>
        <%= f.button :submit, class: "btn btn-success" %>

      <% end %>
  </div>
</div>
