<h1> Your holiday Album:</h1>

<ul class="album">
  <li><%= @holiday_album.name %></li>
  <li><%= @holiday_album.holiday.owner.full_name %></li>
  <li><%= @holiday_album.created_at.strftime("%d/%m/%Y") %></li>
</ul>

<%= link_to "Back", holidays_path %>
