<div class="container">
  <h1>Edit your holiday invite</h1>
  <div class="request-content">
  <%= simple_form_for [@holiday, @holiday_invite] do |f| %>
    <div class="request-send-button">
      <%= link_to "Delete Request", holiday_invite_path(@holiday_invite), method: :delete %>
    </div>
  <% end %>
  </div>
</div>
